.git
.gitignore
.idea
.aiassistant
target/*
!target/*.war
frontend/node_modules
frontend/node
frontend/src
frontend/public
frontend/package.json
frontend/package-lock.json
frontend/tsconfig.json
frontend/tsconfig.app.json
frontend/tsconfig.node.json
frontend/vite.config.ts
frontend/eslint.config.js
frontend/README.md
frontend/index.html
frontend/.gitignore
frontend/.dockerignore
frontend/.sassrc.js
frontend/.env.development
frontend/.env.production
credentials
.env
.env.*
*.iml
