# server
SERVER_PORT=50620
INSTANCE_ID=1
TOTAL_INSTANCES=4

# database
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/mobinogi
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password

# google api
GOOGLE_SHEETS_CREDENTIALS_PATH=google-oauth/credentials.json
GOOGLE_SHEETS_ID=your_google_sheets_id

# JWT
JWT_SECRET=your-very-secure-256-bit-secret-key-here-make-it-long
JWT_EXPIRATION=86400000
